.forecast-index {
    padding: 1em;
    background-color: #FCE4E4;


    .locations-list {
       
    }
    button {
        margin-top: 10px;
        padding: 0.5em 1em;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #0056b3;
        }

       
    }
    
}